html, body {
    margin: 0;
    padding: 0;
    background-color: #bbbbbb;
    max-height: 100%;
}


.container {
    width: 100%;
}


.form-error-text {
    color: #d83b3b;
    font-size: 0.7rem !important;
}