.studentlist {
    width: 100%;

    &-header {
        display: flex;
        justify-content: space-between;
    }

    &-items {
        display: flex;
        flex-wrap: wrap;
    }
}

.campuslist-items {
    display: flex;
    flex-wrap: wrap;
    flex: 1;

    .campus-item {
        margin: 0;
        width: 80%;
    }
}

.campuslist-lower {
    display: flex;
    justify-content: space-between;
}

.campuslist-btns {
    flex: 1;
    width: 100%;
}